body {
    margin: 0;
    padding: 0;
    background: url("images/ignasi_pattern_s.png");
}

.info p {
    padding-top: 10px;
    display: inline-block;
    width:30%;
}

.form-group .form-control {
    width: 50%;
}

.form-group label:first-child {
    width: 50%;
    display: block;
}