<h1>{{blog.header}}</h1>
<button type="button" class="btn btn-default" ng-click="blog.addBtn()">Add post</button>

<div ui-view></div>

<div class="blogContent">
    <div ng-repeat="post in blog.posts">
        <div>
            <h2>{{post.name}}</h2>
            <p>{{post.description}}</p>
            <p>{{post.date}}</p>
            <button type="button" class="btn btn-danger" ng-click="blog.delete($index)">Delete</button>
            <button type="button" class="btn btn-link" ng-click="blog.edit(post.id)">Edit post</button>
        </div>
    </div>
    <div ng-if="isEditing($index)">
        <button type="button" class="btn btn-success" ng-click="blog.save()">Save</button>
        <button type="button" class="btn btn-info" ng-click="blog.cancel()">Cancel</button>
    </div>

</div>

