<h1>{{self.header}}</h1>
<fieldset class="form-group">
    <label for="postName">Post name<input id="postName" class="input-group" type="text" ng-model="form.post.name"></label>
    <label for="exampleTextarea">Write whatever you want :</label>
    <textarea class="form-control" id="exampleTextarea" rows="6" ng-model="form.post.description"></textarea>
</fieldset>

<div>
    <button type="button" class="btn btn-primary" ng-click="form.submit()">Submit</button>
    <button type="button" class="btn btn-info" ng-click="form.cancel()">Cancel</button>
</div>

<pre>
    {{form.posts | json}}
</pre>