<div>
    <h1>{{about.header}}</h1>
    <p>Here is my about page</p>
</div>
<div class="informationBtn">
    <button type="button" class="btn btn-danger" ng-click="about.infoBtn = !about.infoBtn">More info</button>
    <div class="info" ng-if="about.infoBtn">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur deleniti
            dignissimos, dolorum eaque excepturi expedita
            mollitia nobis numquam officia quam ratione tempora totam! Animi at cumque facere
            perferendis quisquam!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur deleniti
            dignissimos, dolorum eaque excepturi expedita
            mollitia nobis numquam officia quam ratione tempora totam! Animi at cumque facere
            perferendis quisquam!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur deleniti
            dignissimos, dolorum eaque excepturi expedita
            mollitia nobis numquam officia quam ratione tempora totam! Animi at cumque facere
            perferendis quisquam!
        </p>
    </div>
</div>
